.circleContainer {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 3px solid tomato;
}


.circleContainer img {
  display: block;
  width: 100%;
}

.circleContainer a {
  position: absolute;
}

.deg0 {
  transform: translate(12em);
}

.deg45 {
  transform: rotate(45deg) translate(12em) rotate(-45deg);
}

.deg135 {
  transform: rotate(135deg) translate(12em) rotate(-135deg);
}

.deg180 {
  transform: translate(-12em);
}

.deg225 {
  transform: rotate(225deg) translate(12em) rotate(-225deg);
}

.deg315 {
  transform: rotate(315deg) translate(12em) rotate(-315deg);
}