//Vars

@quizProgressColor: snow;
@quizProgressBg: #80B543;
@footer-copyright-color: #999;
@footer-copyright-bg: #111;
@footer-color: #222;
@footer-border-color: #b78c33;
@footer-icon-hover-color: #fff;
@footer-link-color: #aaa;
@footer-text-color: #999;
@bg-color: #fff;
@nav-color: repeating-linear-gradient(90deg, #fff, ghostwhite 5px, whitesmoke 5px, snow 5px);
@text-color: black;
@caption-text-color: ghostwhite;
@scroll_progress_color: repeating-linear-gradient(45deg, #06f658, #14e850 10px, #1cc83a 10px, #3d984e 20px);
@hr-bg: darkgray;
@wikiBlockBg: #feffb0;

//Mixins

.resetter {
  list-style-type: none;
  display: block;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
}

.bird {
  content: '\2714';
}

.rightAligned {
  text-align: right;
}

//Global rules

* {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

:focus {
  outline: none;
}

body {
  background-color: @bg-color;
  color: @text-color;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  margin-top: 100px;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
  .bold;
}

//Embedded rules

footer {
  background: @footer-color;
  bottom: 0;
  margin: 10vh 0 0;
  width: 100%;
  border-top: 4px solid @footer-border-color;

  .social-media {
    margin-left: 35%;
  }

  .about {
    margin: 40px auto 0;
    max-width: 1170px;
    text-align: center;

    p {
      font-size: 13px;
      color: @footer-text-color;
      margin-top: 30px;
    }

    .social-media {
      margin-top: 15px;

      ul li a {
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 50%;
        font-size: 16px;
        color: @footer-border-color;
        border: 1px solid @footer-text-color;

        &:hover {
          background: @footer-border-color;
          color: @footer-icon-hover-color;
          border-color: @footer-border-color;
        }
      }
    }
  }

  .footer-info-single {
    margin-top: 30px;

    .title {
      color: @footer-link-color;
      text-transform: uppercase;
      font-size: 16px;
      border-left: 4px solid @footer-border-color;
      padding-left: 5px;
    }

    ul li a {
      display: block;
      color: @footer-link-color;
      padding: 2px 0;

      &:hover {
        color: @footer-border-color;
      }
    }

    p {
      font-size: 13px;
      line-height: 20px;
      color: @footer-link-color;
    }
  }

  .copyright {
    margin-top: 15px;
    margin-bottom: 0 !important;
    background: @footer-copyright-bg;
    padding: 7px 0;
    color: @footer-copyright-color;

    p {
      .resetter;
    }
  }
}

#quizProgress {
  margin-bottom: 125px;

  .num {
    display: inline-block;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      padding: 15px 25px 15px 25px;
      background-color: gainsboro;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
  }

  .active-step {
    background-color: @quizProgressBg;
    color: @quizProgressColor;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .progressLine {
    border: 1px solid gainsboro;
    display: inline-block;
    width: 20%;
  }
}

ul {
  list-style-type: none;

  &.normal {
    list-style-type: disc;
  }

  &.nums {
    list-style-type: decimal;
  }

  &.tech {
    .bold;
    line-height: 5;
  }

  &.birds li::before {
    .bird;
  }
}

.techList {
  text-align: center;

  img {
    padding-bottom: 5px;
  }
}

//Other

#quizProgress .num:not(.active-step) {
  background-color: #E4E4E4;

  &:hover {
    background-color: #D4D4D4;
  }
}

.anket button {
  margin-top: 30px;
}

.card {
  padding: 1em;
  border: 0;
  margin: 0 auto;
}

li img {
  width: 50px;
}

#freeFood {
  font-size: 20px;
}

#aboutMe p {
  letter-spacing: 1px;
  font-size: 17px;
}

.monospace {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.navischo-znaty-programuvannya {
  background: url("/developers-konkurs-site/assets/img/navischo-znaty-programuvanya.jpg") no-repeat;
  padding: 5%;
  margin-bottom: 5vh;
  color: @caption-text-color;
}

#techSection img {
  width: 30%;
}

section {
  margin-bottom: 10%;
}

.navischo-znaty-programuvannya h1 {
  box-shadow: inset 305px 0 0 0 crimson;
}

hr {
  color: @hr-bg;
  width: 20%;
  height: .5px;
  margin-left: 7vw;
}

img.techPreview {
  margin-bottom: 5%;
}

#goToTest {
  .bold;
  font-size: 50px;
  cursor: pointer;
}

#scrollBar {
  height: .5vh;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.profession {
  margin: 3%;
}

#scroll_progress {
  height: 100%;
  background: @scroll_progress_color;
  width: 0;
}

nav {
  position: fixed !important;
  z-index: 5;
  top: 0;
  width: 100%;
  background: @nav-color;
}

#forum {
  margin-top: 10%;
}

.list-inline li {
  float: left;
  margin: 3% 10% 1.5% 0;
}

.toolBlock {
  border: 2px dashed #555;
  padding-right: 15px;
  padding-left: 5px;
  line-height: 1.3;
  border-radius: 15px;
  margin: 25px 25px 25px 75px;
}

//Wikipedia

.wikiBlock {
  border: 4px dashed #fff;
  padding-right: 15px;
  padding-left: 5px;
  line-height: 1.3;
  border-radius: 15px;
  background-color: @wikiBlockBg;
  margin: 25px 25px 25px 75px;
}

//Media queries

@media (max-width: 576px) {
  .wikiLogo {
    margin: 0 auto;
    img {
      width: 30% !important;
    }
  }
}