.tree {
  line-height: 3;
  font-size: 150%;
  font-weight: 700;

  ul {
    padding-top: 20px;
    position: relative;

    ul::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 2px solid #ccc;
      width: 0;
      height: 20px;
    }
  }

  li {
    float: left;
    text-align: center;
    position: relative;
    padding: 20px 5px 0 5px;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 3px solid #ccc;
      width: 50%;
      height: 20px;
    }

    &::after {
      right: auto;
      left: 50%;
      border-left: 3px solid #ccc;
    }

    &:only-child {

      padding-top: 0;

      &::after, &::before {
        display: none;
      }
    }

    &:first-child::before, &:last-child::after {
      border: 0;
    }

    &:last-child::before {
      border-right: 1px solid #ccc;
      border-radius: 0 5px 0 0;
    }

    &:first-child::after {
      border-radius: 5px 0 0 0;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .tree {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .tree {
    font-size: 12px;
  }
}